:root {
    --fontSize: 30px;
}

@font-face {
    font-family: fasterOne;
    src: url('../fonts/FasterOne-Regular.ttf');
}


body {
    padding: 0;
    margin: 0;
}
video {
    margin: 0 auto;
    display: block;
    height: 85vh;
}

video:focus {
    outline: none;
}
.captions-wrapper {
    min-width: 500px;
    height: 15vh;
    background-color: rgba(0, 0, 0, 1);
    pointer-events: none;
    position: relative;
}

.captions {
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.captions div div div, .captions div div div span {
    font-size: 1.6rem;
    /* padding: 20px; */
}

.captions .bigger {
    font-size: 2.4rem;
}

.captions .crash {
    font-size: 3.4rem;
}
.captions div {
    background-color: none !important;
}

.captions div div {
    /* bottom: 20px !important; */
}
.captions > div {
    pointer-events: none;
}

.captions > div * {
    pointer-events: unset;
}

.captions .cars {
    font-family: 'fasterOne';
}

.captions .impact {
    font-family: 'impact';
}

.captions span.sound {
    font-size: var(--fontSize);
}

.captions .hide {opacity: 0}

.captions.slide {
    animation: slide .75s ease-in forwards;
}

.captions.bigslide {
    animation: bigslide 1.2s cubic-bezier(.97,0,.83,.67) forwards;
}
.captions.bigslide-left {
    animation: bigslideleft 1.2s cubic-bezier(.97,0,.83,.67) forwards;
}

.captions.party {
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
}

@keyframes slide {
    from {
        left:50%;
    }
    to {
        left: 150%;
    }
}

@keyframes bigslide {
    from {
        left: -30%;
    }
    to {
        left: 150%;
    }
}

@keyframes bigslideleft {
    from {
        left: 130%;
    }
    to {
        left: -150%;
    }
}